.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 120px;
  width: 100%;
  background-color: var(--color-orange);
  box-shadow: 5px 5px 5px 5px black;
}

.title {
  @include fancy-text;
  text-align: center;
  letter-spacing: 2px;
}
.logo img {
  height: 80px;
}
